<!DOCTYPE html>
<html>
  <head>
    <title>Teddy Fear</title>
    <%= favicon_link_tag "logoGold.ico"%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style=" font-family: 'Montserrat', sans-serif;">
      <!-- cookies & age Gates -->
    <%= turbo_frame_tag :cookie_consent, src: cookies_path if session[:cookie_consent].nil? || session[:cookie_consent] == false %>
    <%= turbo_frame_tag :age_verification, src: age_gates_path if session[:age_verification].nil? || session[:age_verification] == false %>
    <main>
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%#= render 'layouts/footer' %>
      <%= render 'layouts/prevention'%>
    </main>
  </body>
</html>
